.header1 {
    background: linear-gradient(rgba(255, 255, 255, 0.316), rgba(255, 255, 255, 0.316)), url('Images/pexels-chevanon-photography-324028.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

.header2 {
    background: linear-gradient(rgba(255, 255, 255, 0.316), rgba(255, 255, 255, 0.316)), url('Images/image2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

#logo {
    max-width: 8%;
}

@media only screen and (max-width: 600px) {
    #logo {
        max-width: 25%;
    }
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.social-media {
    display: flex;
    gap: 20px;
    align-items: center;
    color: #FFEAB6;
}

ul div li a {
    color: #FFEAB6;
    text-decoration: none;
}

.header1 h1 {
    font-family: 'Julius Sans One', sans-serif;
    color: #FFEAB6;
    text-align: center;
    font-size: 4em;
    text-shadow: 1px 2.5px 2.5px #664418;
}

.header2 h1 {
    font-family: 'Julius Sans One', sans-serif;
    color: #FFEAB6;
    text-align: center;
    font-size: 4em;
    text-shadow: 1px 2.5px 2.5px #664418;
}

.header1 h2 {
    font-family: 'Archivo Narrow', sans-serif;
    color: #B17A50;
    text-align: center;
    font-size: 2em;
    text-shadow: 1px 2.5px 2.5px #664418;
}

#menu-heading {
    font-family: 'Julius Sans One', sans-serif;
    color: #B17A50;
    margin: 50px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: baseline;
    align-items: start;
    margin: 4rem auto;
}

figure {
    color: #664418;
    text-align: center;
    align-items: center;
}

figcaption {
    font-family: 'Archivo Narrow', sans-serif;
    color: #664418;
    margin-top: 2rem;
}

.coffee-image {
    border-radius: 50%;
    align-self: center;
    width: 50%;
}

.coffee-image:Hover {
    border-radius: 50%;
    align-self: center;
    width: 50%;
    opacity: 0.5;
}

h1 {
    font-family: 'Julius Sans One', sans-serif;
    color: #B17A50;
}

h2 {
    font-family: 'Archivo Narrow', sans-serif;
    color: #B17A50;
}

p {
    font-family: 'Archivo Narrow', sans-serif;
    color: #664418;
}

footer {
    background-color: #664418;
    padding: 20px;
    text-align: center;
    
}

footer p {
    font-family: 'Archivo Narrow', sans-serif;
    color: #FFEAB6;
    margin: 1em;
}

footer a{
    color:#B17A50
}

footer hr {
    color: #FFEAB6;
    width: 50%;
    position: relative;
    opacity: 1;
    margin: auto;
}

/* newsletter CSS */
.newsletter {
    font-family: 'Archivo Narrow', sans-serif;
    color: #664418;
    background-color: #DCB98A;
    padding: 20px;
}

.newsletter form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin: 2rem auto;
}

.newstext {
    margin: 0;
    font-size: 1.4rem;
}

.subscribe {
    border-radius: 5rem;
    border: 0;
    background-color: antiquewhite;
    color: #664418;
}

dialog::backdrop {
    background-color: darkorange;
    background-image: url('images/pexels-andre-taissin-6616443.jpg');
    background-size: cover;
    filter: blur(0.2rem);
}

.popup-message[open] {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.popup-message {
    font-family: julius_sans_one, sans-serif;
    border-radius: 1.5rem;
    border: 0;
    background-color: #DCB98A;
    opacity: 0.9;
}

.popup-message button {
    border: 0;
    background-color: #8d7452;
    color: white;
}

/* maps CSS */
.google-map {
    display: block;
    margin: 30px auto;
    
}

/* reviews CSS */

.container-testimonial {
    background-color: rgb(255, 250, 244);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
}

.testimonial {
    position: relative;
    max-width: 900px;
    width: 100%;
    padding: 50px 0;
    row-gap: 30px;
    overflow: hidden;
}

.testimonial .image {
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 50%;
}

.testimonial .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
}

.slide p {
    text-align: center;
    padding: 0 160px;
    font-size: 1.3rem;
    font-weight: 400;
    color: #664418;
}

.slide .quote-icon {
    font-size: 30px;
    color: #B17A50;
}

.slide .details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details .name {
    font-size: 1rem;
    font-weight: 600;
    color: #664418;
}

.details .job {
    font-size: 0.8rem;
    font-weight: 400;
    color: #664418;
}

.reviews {
    font-family: 'Julius Sans One', sans-serif;
    color: #B17A50;
    margin: 50px;
    text-align: center;
}

/*swiper button css */
.nav-btn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transform: translateY(30px);
    background-color: white;

}

.nav-btn::after, .nav-btn::before {
  font-size: 20px;
  color: #B17A50;
}

.swiper-pagination-bullet {
    background-color: #B17A50;

}

/* About page CSS */

.about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2rem auto;
}

.information {
width:100%;
background-color: rgb(255, 250, 244);
display: flex;
text-align: center;
justify-content: center;
flex-direction: row;
margin: 4rem auto;
padding-left:20%;
padding-right: 20%;
padding-top: 5%;
padding-bottom: 5%;
}

.baristas {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;  
    margin: 2rem auto;  
}

.barista-text {
    text-align: center;
    margin: 2rem auto;
}

.story-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 3rem;
    margin-left: 3rem;
   
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.about-image{
    margin:2rem auto;
}

.barista-name {
    font-family: 'Julius Sans One', sans-serif;
    color: #B17A50;
    font-size: 1.5rem;
    margin-top: 30px;
    text-align: center;

}
