.header1 {
    background-image: url('Images/pexels-chevanon-photography-324028.jpg');
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    padding-bottom: 100px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

#logo {
  max-width: 8%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.social-media {
  display: flex;
  gap: 20px;
  align-items: center;
  color: #FFEAB6; 
}

ul div li a {
  color: #FFEAB6;
  text-decoration: none;
}

.header1 h1 {
    font-family: 'Julius Sans One', sans-serif;
    color: #FFEAB6;
    text-align: center;
    font-size: 4em;
    text-shadow: 2px 4px 4px #664418;
}

.header1 h2 {
    font-family: 'Archivo Narrow', sans-serif;
    color: #B17A50;
    text-align: center;
    font-size: 2em;
    text-shadow: 2px 4px 4px #664418;
}

#menu-heading {
    font-family: 'Julius Sans One', sans-serif;
    color:#B17A50;
    margin: 80px;
    text-align: center;
}
.container {
    display:flex;
    column-gap: 30px;
    display: flex;
    justify-content:baseline;
    align-items:center;
    padding-top: 25px;
    padding-bottom: 25px;
}

figure {
        color:#664418;
    text-align: center;
    align-items: center;
}

figure img {
    padding: 25px;
 }

figcaption {
    font-family: 'Archivo Narrow', sans-serif;
    color:#664418;
}

.coffee-image {
  border-radius: 50%;
  max-width: 50%;
  align-self: center;
}

footer {
    font-family: 'Archivo Narrow', sans-serif;
    color:#FFEAB6;
    background-color: #664418;
    padding: 20px;
    text-align: center;
}

footer hr{
    color: #FFEAB6;
    width;: 50%

}

/* newsletter CSS */
.newsletter {
    font-family: 'Julius Sans One', sans-serif;
    color:#664418;
    background-color: #DCB98A;
    padding: 20px;
}
.newsletter form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin: 2rem auto;
}

.newstext {
    margin: 0;
}

.subscribe {
    border-radius: 5rem;
    border: 0;
}

dialog::backdrop {
    background-color: darkorange;
    background-image: url('images/pexels-andre-taissin-6616443.jpg');
    background-size: cover;
    filter: blur(0.2rem);
}

.popup-message[open]{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.popup-message {
    font-family: julius_sans_one, sans-serif;
    border-radius: 1.5rem;
    border: 0;
    background-color: #DCB98A;
    opacity: 0.9;
}

.popup-message button {
    border: 0;
    background-color: #8d7452;
    color: white;
}
/* maps CSS */
.google-map {
    display: block;
    margin: 30px auto;
  }