/* <head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Archivo+Narrow">
</head> */

body {
    background-color: #f7f4f3;
    margin-right: 25%;
    margin-left: 25%;
}

header {
    background-color: burlywood;
    /*  display: flex;
        flex-direction: column; */
}

/* 

#logo {
  max-width: 10%;
  margin: 20px auto;
}


nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.social-media {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-right: 20px;
  color: white; 
}

ul div li a {
  color: white;
  text-decoration: none;
}

*/

h1 {
    font-family: julius_sans_one, sans-serif;
    color: black;
    text-align: center;
}

h2 {
    font-family: archivo_narrow, sans-serif;
    color: white;
    text-align: center;
}

/* 

.coffee-image {
  border-radius: 50%;
  max-width: 50%;
}

*/

.newsletter form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin: 2rem auto;
}

.newstext {
    margin: 0;
}

.subscribe {
    border-radius: 5rem;
    border: 0;
}

dialog::backdrop {
    background-color: darkorange;
    background-image: url('/pexels-andre-taissin-6616443.jpg');
    background-size: cover;
    filter: blur(0.2rem);
}

.popup-message[open]{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.popup-message {
    font-family: julius_sans_one, sans-serif;
    border-radius: 1.5rem;
    border: 0;
    background-color: #DCB98A;
    opacity: 0.9;
}

.popup-message button {
    border: 0;
    background-color: #8d7452;
    color: white;
}

.google-map {
    display: block;
    margin: 30px auto;
  }